# requirements.txt
# cpu-only PyTorch
torch==2.9.0+cpu --extra-index-url https://download.pytorch.org/whl/cpu
transformers==4.57.1
fastapi==0.120.2
uvicorn==0.38.0
python-dotenv==1.2.1
sentencepiece==0.2.1
